<nav class="navbar navbar-expand-sm navbar-light navbar-lewagon <%= yield(:navbar_class) %>">

    <%= link_to image_tag("UNIVERLAY.png", alt: "logo"), '/', class: 'navbar-brand' %>



  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="navbar-item">
        <%= form_tag root_path, method: :get, class: "form-inline" do %>
          <%= text_field_tag :query,
            params[:query],
            class: "form-control",
            placeholder: "Find a lesson" %>
          <%= button_tag type: 'submit', class: "btn btn-primary mr-3" do %>
            <i class="fas fa-search"></i>
          <% end %>
        <% end %>
      </li>
      <li class="navbar-item mr-3">
        <a href="pages/guide" class="nav-link text-light">Product Guide</a>
      </li>
      <% if user_signed_in? %>
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "My Lessons", lessons_path, class: "nav-link text-light" %>
        </li>
        <li class="nav-item dropdown">
          <% if current_user.photo.attached? %>
            <%= cl_image_tag current_user.photo.key, height: 40, width: 40, crop: :fill, class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% else %>
            <%= image_tag "http://placekitten.com/g/200/200", class: "avatar dropdown-toggle", id: "navbarDropdown", data: { toggle: "dropdown" }, 'aria-haspopup': true, 'aria-expanded': false %>
          <% end %>
          <div class="dropdown-menu dropdown-menu-right" id="dropdown-color" aria-labelledby="navbarDropdown">
            <span class="dropdown-item-text text-muted"><%= current_user.name %></span>
            <%= link_to "Edit profile", edit_user_registration_path, class: "dropdown-item" %>
            <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" %>
          </div>
        </li>
      <% else %>
        <li class="nav-item">
          <%= link_to "Login", new_user_session_path, class: "btn btn-outline-light" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary ml-2" %>
        </li>
      <% end %>
    </ul>
  </div>
</nav>
