<%# <!DOCTYPE html>
<html lang="en">
<head>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"  />
    <link rel="stylesheet" type="text/css" href="css/style.css">
</head> %>
<body>
<section class="main-content">
  <div class="container">
    <div class="header">
      <h1 class="text-center text-uppercase">Lesson: <%= @lesson.title %></h1>
    </div>
    <div class="row">
      <div class="col-md-8 offset-md-2">
        <div class="box course-progress-card">
          <div class="course-progress-card_top">
            <div class="progress-circle-outer">
              <div class="progress-circle" id="circle-container">
                <div class="inner"> <%= ((@progress.current_step.to_f/@lesson_steps.count.to_f)*100).round %> %</div>
              </div>
            </div>
            <h3 class="text-center mt-3">OverAll Percentage</h3>
          </div>
          <div class="course-progress-card_courses">
            <div class="course-list">

              <% @lesson_steps.each do |lesson_step| %>
               <% if lesson_step.sequence.to_i < @progress.current_step.to_i %>
                  <div class="course-card">
                    <div class="d-flex">
                      <div class="course-card__img">
                        <div class="StepProgress"><i class="StepProgress-item is-done"></i></div>
                      </div>
                      <div class="course-card__text">
                        <h6 class="mb-0"><p class="text-dark">Step <%= lesson_step.sequence %>: <%= lesson_step.pop_up_text %></p></h6>
                      </div>
                    </div>
                  </div>
                <% elsif %>
                  <div class="course-card">
                    <div class="d-flex">
                      <div class="course-card__img">
                        <div class="StepProgress"><i class="StepProgress-item current"></i></div>
                      </div>
                      <div class="course-card__text">
                        <h6 class="mb-0"><p class="text-dark">Step <%= lesson_step.sequence %>: <%= lesson_step.pop_up_text %></p></h6>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>

              <div class="text-center">
                <form action="https://github.com/">
                  <button class="btn btn-primary btn-block">Click to lesson</button>
                </form>
                <br>

                <%= simple_form_for [@lesson, @progress], url: lesson_lesson_progress_path(@lesson, @progress), method: :put do |f| %>
                    <div class="d-none">
                      <%= f.input :current_step, input_html: { value: 1 } %>
                      <%= f.input :lesson_id, input_html: { value: @lesson.id } %>
                    </div>
                      <%= f.submit 'Reset', class: "btn btn-warning" %>
                <% end %>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>


<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<%# <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script> %>
<script src="js/progressbar.min.js"></script>
<script src="js/script.js"></script>
</body>
</html>
