<div class="banner">
  <div class="container">
    <div class="text-center">
      <h1 class="mb-4">3 Easy Steps<br>
      To learning new software</h1>
    </div>
    <div class="banner-cards d-flex justify-content-around">
      <div class="card">
          <%= image_tag "wireframe.svg" %>
          <h4>Find Training</h4>
          <p>for popular yet difficult tasks online</p>
      </div>

      <div class="card">
        <%= image_tag "download-file.svg" %>
        <h4>Download our extension</h4>
        <p>and enter a world of on-site displayed training</p>
      </div>

      <div class="card">
        <%= image_tag "comments.svg" %>
        <h4>Review us</h4>
        <p>on google chrome extensions & send us a tweet</p>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <br>
  <h2 class="py-3 text-center">All our available training (<%=@lessons_filtered.length %>)</h2>
      <br>
        <div class="row">
          <% @lessons_filtered.reverse_each do |lesson| %>
                 <div class="card-body">
                  <h5 class="card-title"><%= lesson.title %></h5>
                 </div>
                <div class="card-footer d-flex justify-content-between p-3">
                  <%= link_to 'More info', lesson_path(lesson), class: "text-light text-decoration-none" %>
                  <h6 class="text-light m-0">Posted on: <%= lesson.created_at.to_s.split(' ').first %></h6>
                </div>
              </div>
            </div>
          <% end %>
        </div>
  <div>
</div>
