<%= content_for(:navbar_class, "navbar-home fixed-top") %>

<a href="" class="top-link hide" id="scrollToTop"><i class="fas fa-3x fa-chevron-circle-up"></i></a>
<div class="banner d-flex align-items-center">
  <div class="container-fluid text-center">
    <div class="banner-header mt-4 mb-4">
      <h1>3 Easy Steps<br>
      To learning new software</h1>
    </div>

    <div class="banner-cards d-flex justify-content-around">
      <div class="banner-card">
          <%= image_tag "wireframe.svg", class: "mt-3 mb-3" %>
          <h4>Find Training</h4>
          <p>for popular yet difficult tasks online</p>
      </div>

      <div class="banner-card">
        <%= image_tag "download-file.svg", class: "mt-3 mb-3" %>
        <h4>Download our <br>Chrome Extension</h4>
        <p>and enter a world of on-site displayed training</p>
        <a href="https://chrome.google.com/webstore/category/extensions?hl=en-GB" target="_blank" class="btn btn-primary banner-btn">Download</a>
      </div>

      <div class="banner-card">
        <%= image_tag "comments.svg", class: "mt-3 mb-3" %>
        <h4>Review us</h4>
        <p>on google chrome extensions & send us a tweet</p>
      </div>
    </div>

    <%= link_to "Start learning", new_user_registration_path, class: "btn btn-lg btn-primary mt-4"  %>
    <a href="#lessons-section" class="ctn-icon">
      <i class="fa fa-angle-down" aria-hidden="true"></i>
    </a>
  </div>
</div>

<div class="container">
    <div data-controller="search-lessons" class="mt-5" id="lessons-section">
      <%= form_with url: root_path, method: :get, html: { class: "form-inline", data: { search_lessons_target: 'form' } } do |f| %>
        <%= f.text_field :query,
                          value: params[:query],
                          class: "form-control",
                          placeholder: "Find a lesson",
                          data: {
                              search_lessons_target: 'input',
                              action: 'keyup->search-lessons#update' } %>
        <%= f.button type: 'submit', class: "btn btn-primary mr-3" do %>
            <i class="fas fa-search"></i>
        <% end %>
      <% end %>

      <%= render 'lessons_list', lessons: @lessons %>
    </div>
</div>
