<%= content_for(:navbar_class, "navbar-home") %>

<div class="banner d-flex align-items-center">
  <div class="container-fluid text-center">
    <div class="banner-header mt-5 mb-4">
      <h1>3 Easy Steps<br>
      To learning new software</h1>
    </div>

    <div class="banner-cards d-flex justify-content-around">
      <div class="banner-card">
          <%= image_tag "wireframe.svg", class: "mt-3 mb-3" %>
          <h4>Find Training</h4>
          <p>for popular yet difficult tasks online</p>
      </div>

      <div class="banner-card">
        <%= image_tag "download-file.svg", class: "mt-3 mb-3" %>
        <h4>Download our extension</h4>
        <p>and enter a world of on-site displayed training</p>
      </div>

      <div class="banner-card">
        <%= image_tag "comments.svg", class: "mt-3 mb-3" %>
        <h4>Review us</h4>
        <p>on google chrome extensions & send us a tweet</p>
      </div>
    </div>

    <%= link_to "Start learning", new_user_registration_path, class: "btn btn-lg btn-primary mt-4"  %>
  </div>
</div>

<div class="container-fluid">
  <br>
  <h2 class="py-3 text-center">All our available training (<%=@lessons.length %>)</h2>
      <br>
        <div class="row">
          <% @lessons.each do |lesson| %>
            <div class="col-sm-4 d-flex">
              <div class="card flex-fill py-0 px-0 shadow p-3 mb-5">
                <% if lesson.photos.attached? %>
                  <%= cl_image_tag item.photos.first.key, height: 250, crop: :fill, class: "card-img-top", alt: "user uploaded image" %>
                <% else %>
                  <%= image_tag "https://images.unsplash.com/photo-1464380573004-8ca85a08751a?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1470&q=80" %>
                <% end %>
                 <div class="card-body">
                  <h5 class="card-title"><%= lesson.title %></h5>
                  <%= link_to 'More info', lesson_path(lesson), class: "btn btn-primary" %>
                 </div>
              </div>
            </div>
          <% end %>
        </div>
  <div>
</div>
